###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_a_random_32_char_string
###< symfony/framework-bundle ###

APP_PORT=8080

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://finance:finance@postgres:5432/finance?serverVersion=16&charset=utf8"
POSTGRES_DB=finance
POSTGRES_USER=finance
POSTGRES_PASSWORD=finance
POSTGRES_PORT=5433
###< doctrine/doctrine-bundle ###

###> symfony/redis ###
REDIS_URL=redis://redis:6379
REDIS_PORT=6380
###< symfony/redis ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_jwt_passphrase
###< lexik/jwt-authentication-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=redis://redis:6379/messages
###< symfony/messenger ###

###> symfony/routing ###
DEFAULT_URI=http://localhost:8080
###< symfony/routing ###

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
